header{
    width: 1400px;
    height: 798px;
    margin: 0 auto;
    background-color: #1c3d5b;
}
.nav-1{
    width: 1200px;
    height: 42px;
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
}
.nav-ul{
    display: flex;
}
.nav-li-1{
    list-style: none;
    color: white;
    font-size: 20px;
    margin-left: 610.43px;
    margin-top: 10px;
}
.nav-li{
    list-style: none;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
}
.button-1{
    width: 128px;
    height: 40px;
    border-radius: 24px;
    margin-left: 40px;
    margin-top: 15px;
}
.savethetime{
    width: 567px;
    height: 138px;
    margin-top: 120.5px;
    margin-left: 100px;
}
.frame{
    margin-top: 71px;
    margin-left: 139.14px;
}
.nav-div{
    width: 1200px;
    height: 500px;
    border: 1px white;
    display: flex;
}
.span-1{
    flex-direction: column;
}
.rectangle{
    width: 192.18px;
    height: 165.34px;
    margin-left: 140px;
    margin-top: 25px;
}
.frame262{
    width: 261.96px;
    height: 165.34px;
    margin-left: 30px;
}
.p{
    margin-left: 100px;
}
.button-2{
    width: 247px;
    height: 60px;
    border-radius: 56px;
    background-color: #65e4a3;
    padding: 16px 56px 16px 56px;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans';
    margin-top: 40px;
    margin-left: 100px;
    border-color: #65e4a3;
}
.button-3{
    width: 150px;
    height: 60px;
    border-radius: 56px;
    background-color:#1c3d5b ;
    color: white;
    font-style: 20px;
    font-family: 'Open Sans';
    margin-left: 15px;
    border: 1px solid;
    border-color: white;
}
.nav-2{
    width: 1173px;
    height: 93px;
    margin-top: 56px;
    margin-left: 113px;
}
.nav-ul-2{
    display: flex;
}
.list{
    list-style: none;
    margin-left: 35px;
    margin-top: 10px;
}
.section-1{
    width: 1400px;
    /* height: px; */
    margin: 0 auto;
}
.heading{
    width: 842px;
    height: 184px;
    margin: 0 auto;
    margin-top: 82px;
}
.ourservices{
    margin-left: 330px;
}
.p-tag{
    margin-top: 12px;
    margin-left: 15px;
    word-spacing: 10px;
}
.ul-sec-1{
    display: flex;
    margin: 0 auto;

}
.li-ul-1{
    width: 300px;
    height: 575px;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 40px;
    list-style: none;
}
.li-ul{
    width: 300px;
    height: 575px;
    flex-direction: column;
    margin-right: 40px;
    list-style: none;
}
.content-li{
    margin-top: 25px;
}
.section-2{
    width: 1137px;
    height: 610px;
    margin: 0 auto;
    margin-top: 197px;
    display: flex;
}
.rasm-1{
    width: 494px;
    height: 506px;
}
.sec-1-sp{
    flex-direction: column;
    margin-left: 150px;
    margin-top: 66px;
}
.ul-li-2{
    list-style: none;
    display: flex;
    margin-left: 0px;
    margin-top: 15px;
    margin-right: 25px;
}
.button-4{
    width: 210px;
    height: 60px;
    background-color: #0A2640;
    color: white;
    border-radius: 56px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 56px;
}
.section-3{
    width: 1100px;
    height: 692px;
    margin: 0 auto;
    display: flex;
}
.span-1-2{
    flex-direction: column;
    flex: 1;
}
.span-2{
    flex-direction: column;
    flex: 1;
}
.li-class-1{
    width: 500px;
    height: 68px;
    margin-top: 64px;
    list-style: none;
    background-color: #0A2640;
    color: white;
    font-weight: 600;
    font-size: 25px;
}
.li-class{
    width: 500px;
    height: 68px;
    margin-top: 64px;
    list-style: none;
    background-color: #0A2640;
    color:black;
    font-weight: 600;
    font-size: 25px;
    background-color: #ffffff;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.88);

}
.rectangle-1270-4{
    margin-left: 130px;
}
.section-4{
    width: 1400px;
    height: 797px;
    margin: 0 auto;
    background-color: #0A2640;
}
.rasm-4{
    margin-top: 96px;
    margin-left: 150px;
}
.ellipse-5{
    margin-left: 262px;
    margin-right: 28px;
}
.ul-list{
    display: flex;
}
.list-3{
    width: 350px;
    height: 322px;
    margin-top: 72px;
    margin-left: 150px;
    list-style: none;
    background-color: white;
    border-radius: 12px;
}
.list-4{
    width: 350px;
    height: 394px;
    margin-top: 72px;
    margin-left: 22px;
    list-style: none;
    border-radius: 12px;
    background-color: white;
}
.list-5{
    width: 350px;
    height: 358px;
    margin-top: 72px;
    margin-left: 22px;
    list-style: none;
    border-radius: 12px;
    background-color: white;
}
.img-p{
    margin-top: 40px;
    margin-left: 40px;
}
.ellipse-4{
    margin-top: 40px;
    margin-left: 40px;
}
.image{
    width: 1100px;
    height: 403px;
    border-radius: 24px;
    margin-left: 1450px;
    margin-top: 124px;
}
.section-5{
    width: 1100px;
    height: 164px;
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
}
.sec-5-div-2{
    font-size: 20px;
    font-weight: 400px;
    line-height: 32px;
    margin-left: 100px;
}